--extra-index-url https://download.pytorch.org/whl/cpu
altair
encodec
gdown
imageio-ffmpeg
ipython
ipywidgets
librosa
matplotlib
numpy
omegaconf
pandas
penn
pybind11
scipy
speechbrain
torch==2.11.0+cpu
torchaudio==2.11.0+cpu
wrapt
